/* @import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext'); */

@font-face {
  font-family: 'basis-grotesque-mono';
  src: url('../tools/basis-grotesque-mono.eot');
  src: url('../tools/basis-grotesque-mono.eot?#iefix') format('embedded-opentype'),
       url('../tools/basis-grotesque-mono.woff') format('woff'),
       url('../tools/basis-grotesque-mono.woff2') format('woff2'),
       url('../tools/basis-grotesque-mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'basis-grotesque-mono', monospace;
  background-color: #eee;
  margin: 5%;
}

.side-bar{
  display: inline-block;
}

canvas{
  margin-top: 75px;
  background-color: white;
}

img{
  margin-top: 75px;
  margin-left: 100px;
  display: inline-block;
  width: 434.6px;
  height: 570px;
}